/* /////////////////// */
/* ///////// */
/* ////////////////////////////////Styles TFC Supporter//////////////////////////////// */
nav {
    background-color: #3F3154;
}

.btnTfc {
    background-color: #9c85be;
}
.card {
    height: 45vh;
}
.card-img-top {
    height: 30vh;
}





/* /////////////////// */
/* ///////// */
/* ////////////////////////////////@MEDIA//////////////////////////////// */
@media (max-width: 1200px) {

}

@media (max-width: 992px) {

}

@media (max-width: 768px) {

}

@media (max-width: 576px) {

}
