/* /////////////////// */
/* ///////// */
/* ////////////////////////////////Styles TFC Supporter//////////////////////////////// */
.bgTfc {
    background-color: #3F3154;
}

.btnTfc {
    background-color: #3F3154;
    color: white;
}

.btnTfc:hover {
    background-color: #9c85be;
    color: #3F3154;
}

.theadTfc {
    background-color: #3F3154;
    color:white;
}

.cardPhoto {
    height: 350px;
}

.card-img-top {
    height: 250px;
}

.colorTfc {
	color: #3F3154;
}

.colorTfcBis {
	color: #9c85be;
}

footer {
	height: 10vh;
}

/* /////////////////// */
/* ///////// */
/* ////////////////////////////////Media Responsiv Table//////////////////////////////// */
@media 
only screen and (max-width: 767px) {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
}
/* /////////////////// */
/* ///////// */
/* ////////////////////////////////@MEDIA//////////////////////////////// */
@media (max-width: 1200px) {

}

@media (max-width: 992px) {

}

@media (max-width: 768px) {
	
}

@media (max-width: 576px) {

}
